* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100wh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    font-family: Helvetica, sans-serif;

}

.conatainer {
    box-shadow: rgba(0, 0, 0, 0.24)(0px 3px 8px);
    width: 500%;
    display: flex;
    flex-direction: column;
    padding: 10px;


}

.header-section>img {
    width: 100%;
    height: 50px;
}

.header-section>h2 {
    font-family: Helvetica, sans-serif;
    margin-bottom: 3px;
}

.header-section>p {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

.input-names {
    width: 100%;
    margin-top: 35px;
}

.input-names>p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 3px;
    justify-content: space-between;
}

.inputBox {

    display: flex;
}

.inputBox>div>input {
    width: 280%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    padding-left: 15px;

}

.inputBox>div>input:focus,
.inputBox>input {
    outline: none;
}

#name-para {
    font-size: 14px;
    margin-top: 15px;
    font-weight: normal;
}

/* dob section */
.dob-section,
.gender {
    /* background-color: black; */
    margin-top: 15px;
}

.dob-section>h2,
.gender>h2,
.email-address>h2 {
    margin-bottom: 3px;
    font-size: 26px;
}

.dropdown {
    display: flex;
    justify-content: space-between;

}

select {
    width: 170%;
    height: 50px;
    border-radius: 20px;
    border: 1px solid gray;
}

.gender>select {
    width: 100px;
}


.email-address {
    width: 100%;
    margin-top: 25px;
}


.inputBox>input {
    height: 50px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid gray;
    padding-left: 15px;
}

.btnBox {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.btnBox > #submit {
    border-radius: 10px;
    height: 50px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    background-color: #1877F2;
    color: white;
}

.btnBox > #already-account {
    border-radius: 10px;
    height: 50px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    color: black;
    border: 1px solid rgb(188, 177, 177);
}

.btnBox> #already-account:hover{
    background-color: #828282;
    transition:all 0.3s;
}